@model DistanceLearning.GroupDescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupDescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Private)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Private)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupCategoryNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
