@model Shopich.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserHouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserHouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFlat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFlat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
