@model IEnumerable<Shopich.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserHouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFlat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>|
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a>|
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
